@{
    ViewData["Title"] = "About";
}

<h1 class="text-center" style="padding:30px">@ViewData["Title"]</h1>

<p class="text-center" >This is a fan-made subs site. If u want to join the team <a asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a>!</p>