@{
    ViewData["Title"] = "Contact";
}

<h1 class="text-center" style="padding:30px">@ViewData["Title"]</h1>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/JeanPetrov">JeanPetrov </a><br />
    <strong>E-Mail:</strong> <a href="mailto:JeanPetrov1@gmai.com">JeanPetrov1@gmai.com</a><br />
</address>
