@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron home-jumbotron">
    <h1 class="text-center">Welcome to Ninja Subs!</h1>
</div>

<div class="row">
    <form asp-action="Search">
        <div class="col-md-8">
            <input asp-for="SearchText" class="form-control" placeholder="Search..." />
        </div>
        <div class="col-md-2">
            <label asp-for="Language"></label>
            <select asp-for="@Model.Language" asp-items="Html.GetEnumSelectList<LanguageType>() " class="form-control"></select>
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-warning pull-right" value="Search" />
        </div>
    </form>
</div>