@model PublishOrEditArticleFormModel

@{
    ViewData["Title"] = $"Edit Article - {Model.Title}";
}

<h1 class="text-center" style="padding:30px">@ViewData["Title"]</h1>

<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#Content'
    });
</script>

<div class="container">
    <div class="row">
        <div class="col col-md-8 mr-auto ml-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" rows="30" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="text-center"><button type="submit" class="btn btn-success">Save Changes</button></div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}